.jumbotron {
    /* background: url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg); */
    background: url(https://besthqwallpapers.com/Uploads/16-5-2020/132669/thumb2-stack-of-books-blue-background-education-concepts-books-library.jpg);
    opacity: 0.8;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.headerText {
    padding-right: 220px;
}